@import "config.scss";


// GLOBAL
body {
	background:#5d5f60;
}

// HEADINGS
h1 {
	margin:0;
	font-size:$heading-size;
	font-family:$heading-font, $alternative-font;
}

h2 {
	margin:0;
	font-size:$heading-size - 12;
	font-family:$heading-font, $alternative-font;
}

h3 {
	margin:0;
	font-size:$heading-size - 20;
	font-family:$heading-font, $alternative-font;
}

h4 {
	margin:0;
	font-size:$heading-size - 24;
	font-family:$heading-font, $alternative-font;
}


// ANCHORS
a {
	
}

a:link {
	
}

a:hover {
	
}

a:active {
	
}

a:visited {
	
}

a:focus {
	
}

// FORM
input {
	
}

label {
	font-size:$reading-size;
}

textarea {
	
}

select {
	font-size:$reading-size;
}

option {
	font-size:$reading-size;
}


// TABLES
table {
	
}

td {
	font-size:$reading-size;
}


// CONTENT
p {
	font-size:$reading-size;
	font-family:$reading-font, $alternative-font;
}

span {
	
}

li {
	font-size:$reading-size;
	font-family:$reading-font, $alternative-font;
}

dt {
	
}

dd {
	font-size:$reading-size;
	font-family:$reading-font, $alternative-font;
}


// MISC CLASSES
.class-1 {
	
}

.class-2 {
	
}


